.message {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}
  
.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ccc;
  margin-inline: 0.5vw;
}
  
.message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.message-text {
  background-color: #f0f0f0;
  border-radius: 1.5vh;
  margin-inline: 0.5vw;
  overflow-wrap: break-word;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  max-width: 60%;
  font-size: 0.85rem;
}
  
.message-time {
  font-size: 0.8rem;
  color: #999;
  margin-inline: 1rem;
}
  
.user .message-text {
  background-color: #007bff;
  color: white;
  margin-right: 2px;
}

.user .message-content {
  align-items: flex-end;
}

.user .avatar {
  background-color: #ccc;
}

.chatbot .avatar {
  background-color: #ccc;
}

.chatbot .message-text {
  color: #000;
  margin-left: 2px;
}

.input-container {
  margin-top: 2vh;
}

.messages-container {
  height: 77vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.card-body {
  padding: 1.5rem;
}

.btn.btn-send {
  margin-inline-start: 0.5rem;
  max-width: 5%;
  background-color: #ff4848 !important;
  border: none !important;
  color: white !important;
  font-size: 1rem;
}

.btn.btn-send:hover {
  margin-inline-start: 0.5rem;
  max-width: 5%;
  background-color: #e04343 !important;
  border: none !important;
  color: white !important;
  font-size: 1rem;
}

p {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {
  .btn.btn-send {
    min-width: 2.5rem;
  }

  .card-body {
    padding: 1rem !important;
  }

  .message-text {
    max-width: 80%;
  }

  .chat-container {
    max-height: 78vh;
  }
}


.form-control {
  height: 45px;
  resize: none;
  overflow-y: auto;
  padding-block: 0;
}