/* Wrapper Container */
.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 1.5%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.messages-container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 6rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  bottom: 1vh;
  left: 0;
  right: 0;
  width: calc(100% - 2.5rem);
  margin: 0 auto 10px auto;
  padding: 0.5rem 1rem;

  border-radius: 2rem;
  z-index: 10;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: height 0.2s ease-in-out;
}


/* Message */
.message {
  display: flex;
  margin-bottom: 1vh;
  gap: 0.5vw;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
}

.message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.message-text {
  border-radius: 1.5vh;
  margin-inline: 0.5vw;
  overflow-wrap: break-word;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  max-width: 45%;
  font-size: 0.85rem;
  
  opacity: 0;
  animation: fadeIn 0.2s ease forwards;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.user .message-content {
  align-items: flex-end;
}

.chatbot .message-content {
  align-items: flex-start;
}

.user .message-text {
  margin-right: 2px;
  background-color: #ff4848;
  color: #f0f0f0;
}

.chatbot .message-text {
  margin-left: 2px;
  background-color: #efefef;
  color: #1a1a1a;
}

/* Chat Input Styles */
.chat-input {
  flex: 1;
  resize: none;
  min-height: 2rem;
  max-height: 6rem;
  margin: 2px 0;
  height: 30px;

  border: none;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 0.85rem;
  margin-right: 0.5rem;
  box-sizing: border-box;
}

/* Send Button Styles */
.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ff4848;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-self: flex-end;
  flex-shrink: 0;
  position: relative;
  margin: auto;
}

.btn-send:hover {
  background-color: #dd3535;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .btn-send {
    min-width: 2.5rem;
  }

  .card-body {
    padding: 1rem !important;
  }

  .message-text {
    max-width: 80%;
  }

  .chat-container {
    max-height: 78vh;
  }
}

/* Dark mode styles */
body.dark-mode .chat-wrapper,
body.dark-mode .messages-container {
  background-color: #3e3e3e;
  color: #e0e0e0;
}

body.dark-mode .chatbot .message-text {
  background-color: #353434;
  color: #e0e0e0;
}

body.dark-mode .chat-input,
body.dark-mode .input-container {
  background-color: #353434 !important;
  color: #e0e0e0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}