/* Wrapper Container */
.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 1.5%;
  overflow: hidden;
}

.messages-container {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #3E3E3E;
}

.input-container {
  display: flex;
  align-items: center;
  height: aito;
  padding: 1rem;
  background-color: #2E2E2E !important; 
  border-radius: 2rem;
  margin: 1rem;
}

/* Message */
.message {
  display: flex;
  margin-bottom: 1vh;
  gap: 0.5vw;
}

.message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.message-text {
  border-radius: 1.5vh;
  margin-inline: 0.5vw;
  overflow-wrap: break-word;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  max-width: 60%;
  font-size: 0.85rem;
}

.user .message-content {
  align-items: flex-end;
}

.chatbot .message-content {
  align-items: flex-start;
}

.user .message-text {
  background-color: #b0b0b0;
  color: #000;
  margin-right: 2px;
}

.chatbot .message-text {
  background-color: #f0f0f0;
  color: #000;
  margin-left: 2px;
}

/* Chat Input Styles */
.chat-input {
  flex: 1;
  resize: none;
  height: 2.5rem;
  max-height: 15vh;
  background-color: #2E2E2E;
  color: #ccc;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  overflow-y: auto;
}

/* Send Button Styles */
.btn-send {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;

  background-color: #ff4848;
  cursor: pointer;
  color: white !important;
  border: none !important;
  font-size: 1.2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.btn-send:hover {
  background-color: #e04343;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .btn-send {
    min-width: 2.5rem;
  }

  .card-body {
    padding: 1rem !important;
  }

  .message-text {
    max-width: 80%;
  }

  .chat-container {
    max-height: 78vh;
  }
}