.btn {
    width: 100%;
    padding-inline: 0;
    padding-block: 0.5rem;
    color: black;
}

.contained {
    max-height: 40vh;
    overflow-y: scroll;
}

.btn-label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 0.5rem;
}

.delete-btn {
    max-width: 2.5rem;
    margin-inline: 0.25rem;
    background-color: #ff5555;
    color: white;
}

.delete-btn:hover {
    background-color: #eb4f4f;
    transform: scale(1.05);
    color: white;
  }

::-webkit-scrollbar {
    display: none;
}
  
.dark-mode .btn {
    color: white;
}

.btn-secondary {
    color: white;
}

.btn-custom-darkmode {
    background-color: #626262;
    color: #e7e7e7;
}

.btn-custom-lightmode {
    background-color: #d8d8d8;
    color: #303030;
}

.btn-outline-custom-darkmode {
    border-color: #626262;
    color: #e7e7e7;
}

.btn-outline-custom-lightmode {
    border-color: #d8d8d8;
    color: #303030;
}

