.btn {
    width: 100%;
    padding-inline: 0;
    padding-block: 0.5rem;
    color: black;
}

.contained {
    max-height: 40vh;
    overflow-y: scroll;
}

.btn-label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 0.5rem;
}

::-webkit-scrollbar {
    display: none;
}
  
.dark-mode .btn {
    color: white;
}

.btn-secondary {
    color: white;
}