.container {
  max-width: 95%;
}

.uploader {
  padding-bottom: 5vh;
}
  
.card {
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.form-control-file {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn-primary {
  width: 50%;
  padding: 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #ff4848;
  color: white;
  border: none;
  margin-top: 2vh;
}

.btn-primary:hover {
  background-color: #e04343;
  transform: scale(1.05);
}

.btn-primary:disabled {
  background-color: #fd6e6e;
  border-color: #fd6e6e;
  color: #fff;
}

.btn.btn-primary.always-white {
  color: white;
}