.bg-1 {
    margin-right: 5vw;
}

body {
    overflow-x: hidden;
}
  
.text-logo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
    text-align: left;
}
  
.uploader {
    margin-right: 8vw;
    padding-bottom: 5vh;
}